<div class="centered">
  <div class="link-extractor">
    <h1 class="link-extractor__header">Take a look on extracted data</h1>
    <form class="link-extractor__form">

      <div class="link-extractor__group">
        <label for="" class="link-extractor__label">First name</label>
        <input type="text" size="40" class="link-extractor__input">
      </div>

      <div class="link-extractor__group">
        <label for="" class="link-extractor__label">Last name</label>
        <input type="text" size="40" class="link-extractor__input">
      </div>

      <div class="link-extractor__group">
        <label for="" class="link-extractor__label">Country</label>
        <input type="text" size="40" class="link-extractor__input">
      </div>

      <div class="link-extractor__group">
        <label for="" class="link-extractor__label">Native language</label>
        <input type="text" size="40" class="link-extractor__input">
      </div>

      <div class="link-extractor__group">
        <label for="" class="link-extractor__label">Target language</label>
        <input type="text" size="40" class="link-extractor__input">
      </div>

      <div class="link-extractor__group">
        <label for="" class="link-extractor__label">Source</label>
        <input type="text" size="40" class="link-extractor__input">
      </div>

      <div class="link-extractor__group">
        <button class="link-extractor__button">Save</button>
      </div>
    </form>
  </div>
</div>
