<div class="centered">
  <div class="link-extractor">
    <h1 class="link-extractor__header">Extractor</h1>
    <form class="link-extractor__form">
      <label for="" class="link-extractor__label">Link to a Proz profile</label>
      <div class="link-extractor__wrapper">
        <input type="text" placeholder="https://www.proz.com/profile/52171" size="40" class="link-extractor__input">
        <button class="link-extractor__button">Extract</button>
      </div>
    </form>
  </div>
</div>
