<div class="centered">
  <div class="link-extractor">
    <h1 class="link-extractor__header">Antonella Vallicelli</h1>
    <p><strong>Country</strong>: Italy</p>
    <p><strong>Native language</strong>: Italian</p>
    <p><strong>Target language</strong>: English, German</p>
    <p><strong>Source</strong>: https://www.proz.com/profile/52171</p>
  </div>
</div>
